*.bridgesupport
*.css.map
*.DS_Store
*.gem
*.rbc
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.dat*
.DocumentRevisions-V100
.fseventsd
.jekyll-metadata
.LSOverride
.repl_history
.rvmrc
.sass-cache
.sass-cache/
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
/.bundle/
/.config
/.yardoc/
/_yardoc/
/coverage/
/doc/
/InstalledFiles
/lib/bundler/man/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
_site
_site/
build-iPhoneOS/
build-iPhoneSimulator/
build/
Icon
Network Trash Folder
Temporary Items
*secret*
