*.bridgesupport
*.css.map
*.DS_Store
*.gem
*.lcov
*.log
*.pid
*.pid.lock
*.rbc
*.seed
*.tgz
*.tsbuildinfo
*secret*
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.cache/
.com.apple.timemachine.donotpresent
.dat*
.DocumentRevisions-V100
.dynamodb/
.env
.env*.local
.env.test
.eslintcache
.fseventsd
.fusebox/
.grunt
.jekyll-cache/
.jekyll-metadata
.lock-wscript
.LSOverride
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.repl_history
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.rvmrc
.sass-cache
.sass-cache/
.serverless/
.Spotlight-V100
.TemporaryItems
.tern-port
.Trashes
.VolumeIcon.icns
.vscode-test
.vuepress/dist
.yarn-integrity
/.bundle/
/.config
/.yardoc/
/_yardoc/
/coverage/
/doc/
/InstalledFiles
/lib/bundler/man/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
_site
_site/
bower_components
build-iPhoneOS/
build-iPhoneSimulator/
build/
build/Release
coverage
dist
Icon
jspm_packages/
lerna-debug.log*
lib-cov
logs
Network Trash Folder
node_modules/
npm-debug.log*
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
Temporary Items
typings/
vendor/
yarn-debug.log*
yarn-error.log*
.tweet-cache
